dt.text {color: darkblue;}

dt.image {color: darkcyan;}

dt.link {color: darkmagenta;}

dt.table {color: darkkhaki;}

dt.multimedia {color: darkorange;}

dt.hosting {color: darkorchid;}

dt.consistent {color: darkslateblue;}

dt.original {color: darkred;}

dt.others {color: darkviolet;}